<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        label.error.fail-alert {
            border: 2px solid red;
            border-radius: 4px;
            line-height: 1;
            padding: 2px 0 6px 6px;
            background: #ffe6eb;
        }

        input.valid.success-alert {
            border: 2px solid #4CAF50;
            color: green;
        }

        #result {
            overflow: auto;
        }

        .list-group-item {
            text-decoration: none;
            cursor: pointer;
            background-color: white;
        }

            .list-group-item:focus, .list-group-item:hover {
                text-decoration: none !important;
                color: white !important;
                background-color: lightgrey !important;
            }

        .active-problem {
            text-decoration: none;
            cursor: pointer;
            background-color: lightgray !important;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            background-color: white;
            color: black !important;
        }

            a:focus, a:hover {
                text-decoration: none !important;
            }

        hr {
            margin-top: 3px;
            border-top: 2px solid #000 !important;
        }

        .form-control {
            width: 40% !important;
        }

        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 300px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            background-color: #ededed;
        }

        .main {
            margin-left: 300px; /* Same as the width of the sidenav */
        }

        table thead tr th span {
            margin: 10px 10px 10px 10px !important;
        }
        table tbody tr td span {
            margin: 10px 10px 10px 10px !important;
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 12px;
                }
        }
    </style>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="body-content">
        <div class="sidenav">
            <div class="panel-group">
                <h4 style="padding-left: 15px;">Choose problem from below</h4>
                <hr style="margin:0!important" />
                <ul class="list-group">
                    <li class="list-group-item" id="ArrayofMultiples">@Html.ActionLink("Array of Multiples", "Index", "ArrayofMultiples")</li>
                    <li class="list-group-item" id="FizzBuzz">@Html.ActionLink("FizzBuzz Interview Question", "Index", "FizzBuzz")</li>
                    <li class="list-group-item" id="GetMonthNameByNumber">@Html.ActionLink("Month Name By Number", "Index", "GetMonthNameByNumber")</li>
                </ul>
            </div>
        </div>
        <div class="main">
            <h4 style="padding-left:15px;">Problem description</h4>
            <hr style="margin:0!important" />
            @RenderBody()
        </div>
    </div>
</body>
</html>
